https://school.programmers.co.kr/learn/courses/30/lessons/120583

In [1]:
from collections import Counter
def solution(array, n):
    answer = Counter(array)[n]
    return answer

https://school.programmers.co.kr/learn/courses/30/lessons/120841

In [2]:
def solution(dot):
    answer = 0
    if dot[0] > 0 and dot[1] > 0:
        answer += 1
    if dot[0] < 0 and dot[1] < 0:
        answer += 3
    if dot[0] > 0 and dot[1] < 0:
        answer += 4
    if dot[0] < 0 and dot[1] > 0:
        answer += 2
    return answer

https://school.programmers.co.kr/learn/courses/30/lessons/120847

In [3]:
import math
def solution(numbers):
    answer = 0
    df = []
    df.append(max(numbers))
    numbers.remove(max(numbers))
    df.append(max(numbers))
    return math.prod(df)

https://school.programmers.co.kr/learn/courses/30/lessons/120908

In [4]:
def solution(str1, str2):
    answer = 0
    if str2 in str1:
        answer += 1
    else:
        answer += 2
    return answer

https://school.programmers.co.kr/learn/courses/30/lessons/120836

In [5]:
def solution(n):
    answer = 0
    for i in range(1, n+1):
        if n % i == 0:
            answer += 1
    return answer

https://school.programmers.co.kr/learn/courses/30/lessons/181848

In [6]:
def solution(n_str):
    return int(n_str)

https://school.programmers.co.kr/learn/courses/30/lessons/120903

In [7]:
def solution(s1, s2):
    answer = 0
    for i in s1:
        if i in s2:
            answer += 1
    return answer

https://school.programmers.co.kr/learn/courses/30/lessons/181920

In [8]:
def solution(start_num, end_num):
    answer = []
    for i in range(start_num, end_num+1):
        answer.append(i)
    return answer

https://school.programmers.co.kr/learn/courses/30/lessons/120849

In [9]:
def solution(my_string):
    data = ('a','e','i','o','u')
    for i in data:
        my_string = my_string.replace(i, "")
    return my_string

https://school.programmers.co.kr/learn/courses/30/lessons/181935

In [10]:
import math
def solution(n):
    answer = 0
    if n % 2 == 1:
        for i in range(1, n+1):
            if i % 2 == 1:
                answer += i
    else:
        for j in range(1, n+1):
            if j % 2 == 0:
                answer += j**2
                
    return answer

https://school.programmers.co.kr/learn/courses/30/lessons/181899

In [11]:
def solution(start, end_num):
    answer = []
    for i in range(end_num, start+1):
        answer.append(i)
    return sorted(answer, reverse = True)

https://school.programmers.co.kr/learn/courses/30/lessons/181876

In [12]:
def solution(myString):
    answer = myString
    return answer.lower()

https://school.programmers.co.kr/learn/courses/30/lessons/181926

In [13]:
def solution(n, control):
    answer = n
    for i in control:
        if i == "w":
            answer += 1
        elif i == "s":
            answer -= 1
        elif i == "d":
            answer += 10
        elif i == "a":
            answer -= 10
    return answer

https://school.programmers.co.kr/learn/courses/30/lessons/181937

In [14]:
def solution(num, n):
    answer = 0
    if num % n == 0:
        answer += 1
    return answer

https://school.programmers.co.kr/learn/courses/30/lessons/181936

In [15]:
def solution(number, n, m):
    answer = 0
    if number % n == 0 and number % m == 0:
        answer += 1
    return answer

https://school.programmers.co.kr/learn/courses/30/lessons/181877

In [16]:
def solution(myString):
    return myString.upper()

https://school.programmers.co.kr/learn/courses/30/lessons/181946

In [20]:
str1, str2 = input().strip().split(' ')
df = [str1, str2]
print("".join(df))

 10 10

1010

https://school.programmers.co.kr/learn/courses/30/lessons/181938

In [18]:
def solution(a, b):
    answer = 0
    plus = int(str(a) + str(b))
    prod = 2 * a * b
    if plus >= prod:
        answer += plus
    else:
        answer += prod      
    
    return answer

https://school.programmers.co.kr/learn/courses/30/lessons/181944

In [19]:
a = int(input())

if a % 2 == 0:
    print(f"{a} is even")
else:
    print(f"{a} is odd")

 10

10 is even

https://school.programmers.co.kr/learn/courses/30/lessons/181896

In [21]:
def solution(num_list):
    answer = 0
    for i in num_list:
        if i < 0:
            answer = num_list.index(i)
            break
        else: 
            answer = -1

    return answer